# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\000博三上学期\git\Image-Segmentation-using-ST-cuts\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
